{#
/**
 * @file
 * Template for a 'Callout group' Paragraph.
 */
#}
{% embed 'paragraph.html.twig' with { classes: ['text-center'] } %}
  {% block content %}
    <div class="container">
      {{ content.field_title }}
      {{ content|without('field_title', 'field_buttons') }}
      {{ content.field_buttons}}
      <button class="go-to-up">
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
  {% endblock %}
{% endembed %}
