<footer id="footer" class="footer footer-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 quick-links-left">
        <ul>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="/partnership">Partnership</a></li>
        </ul>
        <p>© 2019 eMoney Advisor, LLC.   |   All rights reserved.</p>
      </div>
      <div id="right" class="col-md-6 quick-links-right">
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/legal">Terms of Use</a></li>
          <li><a href="/security">Security</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        <img src="/logo.png" />
      </div>
    </div>
  </div>
</footer>