.api-node {
  background-color: $gray_lightness;

  article[about=\/apis] {
    div[data-layout-content-preview-placeholder-label="\"Content\" field"] {
      margin-bottom: 0px;
    }

    .layout {
      .block {
        &:last-of-type {
          margin-bottom: 0;
        }

        h2 {
          font-size: 34px;
          font-weight: 700;
          line-height: 40px;
          margin: 0 0 10px 0;
        }

        .text__field-text {
          padding-top: 20px;

          p {
            margin-bottom: 1.5rem;
          }

          @include media-breakpoint-up(lg) {
            padding-left: 108px;
            padding-right: 108px;
          }
        }

        .view-content {
          .views-view-grid {
            width: 100%;

            .card {
              height: 505px;
              background-color: $white;
              border-radius: 4px;
              box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.02);
              margin: 0 0 23px 0;
              overflow: hidden;
              padding: 30px;
              position: relative;
              border: none;

              &:after {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 64.02%, $white 100%);
                bottom: 0;
                content: "";
                display: block;
                height: 152px;
                left: 0;
                position: absolute;
                width: 100%;
              }

              &__title {
                align-items: center;
                display: flex;

                &__icon {
                  align-items: center;
                  display: flex;
                  height: 65px;
                  margin: 0 0 13px 0;
                  width: 77px;

                  img {
                    max-height: 62px;
                    max-width: 59px;
                  }
                }

                &__text {
                  color: $gray_dark;
                  font-size: 24px;
                  font-weight: $bold;
                  line-height: 32px;
                  text-transform: uppercase;
                }
              }

              &__footer {
                bottom: 10px;
                left: 15px;
                padding: 5px 32px;
                position: absolute;
                z-index: 1;

                a {
                  background-color: transparent;
                  border: none;
                  color: $blue_light;
                  font-size: 16px;
                  padding: 0;
                  text-transform: uppercase;

                  &:hover {
                    box-shadow: none;
                    text-decoration: none;
                  }
                }
              }

              .views-field-description__value {
                flex-direction: column;
                display: flex;
              }
            }
          }

          h2 {
            color: $gray_dark;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
          }

          p {
            color: $gray;
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 10px;
          }

          ul {
            list-style: none;
            margin: 17px 0;
            padding-left: 24px;

            li {
              color: $gray;
              font-size: 16px;
              line-height: 30px;

              &:before {
                color: $blue_theme;
                content: "\2022";
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
            }
          }
        }

        .block--cta {
          margin-bottom: 0px;
        }

        .cta {
          background-color: $blue_jeans;
          flex: 1;
          padding: 40px !important;
          text-align: center;
          color: $white;

          .btn {
            background-color: transparent;
            font-family: $Arial;
            font-size: 14px;
            margin: 0;
            line-height: 48px;
            padding: 0;
            width: 165px;
            border: $white 1px solid;
            color: $white;
            text-transform: uppercase;
          }

          &__title {
            font-size: 22px;
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 16px !important;
            color: $white;
          }

          &__text {
            flex-basis: auto;
          }
        }
      }
    }
  }
}
