article[about=\/getting-started] {

  h2 {
    color: $gray_dark;
    font-family: $Lato;
    font-size: 32px;
    font-weight: $bold;
    line-height: 40px;
    margin-bottom: 8px;
    margin-top: 24px;
  }

  a {
    color: $blue_light;
  }

  .paragraph {
    padding-bottom: 0 !important;
  }

  .accordion {
    &--expanded {
      .accordion {
        &__text {
          display: block;
        }

        &__title {
          margin-bottom: 0;
        }
      }
    }

    &__title {
      align-items: center;
      border-bottom: $blue_jeans 1px solid;
      color: $blue_jeans;
      cursor: pointer;
      display: flex;
      font-size: 24px;
      font-weight: $bold;
      line-height: 32px;
      margin-bottom: 15px;
      padding: 8px 16px;

      svg {
        margin-left: 14px;
      }
    }

    &__text {
      display: none;
      padding: 16px 16px 0 16px;

      h2,
      h3,
      h4 {
        font-weight: $bold;
      }

      h3,
      h4 {
        font-family: $Lato;
        margin: 0 0 8px 0;
      }

      h2,
      h3,
      h4,
      p {
        color: $gray_dark;
      }

      h2 {
        font-size: 32px;
        line-height: 40px;
        margin: 14px 0 8px 0;
      }

      h3 {
        font-size: 24px;
        line-height: 32px;
      }

      h4 {
        font-size: 18px;
        line-height: 24px;
      }

      ul {
        list-style: none;
        padding-left: 24px;

        li {
          color: $gray_dark;
          font-size: 16px;
          line-height: 18px;
          margin: 0 0 12px 0;

          &:before {
            color: $blue_jeans;
            content: "\2022";
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }

      ol {
        list-style-position: inside;
        margin: 0;
        padding: 0;

        li {
          color: #333333;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 14px;

          a {
            color: #29B4EA;
          }
        }
      }

      table {
        thead {
          tr {
            th {
              border-bottom: #E7E7E7 2px solid;
              color: #333333;
              font-family: $Roboto;
              font-size: 14px;
              font-weight: $bold;
              line-height: 17px;
              padding: 12px;

              &:first-of-type {
                width: 180px;
              }
            }
          }
        }

        tbody {
          td {
            border-bottom: #E7E7E7 1px solid;
            color: #333333;
            font-family: $Roboto;
            font-size: 14px;
            line-height: 16px;
            padding: 12px;
          }
        }
      }

      pre {
        background-color: $gray_dark;
        border: none;
        border-radius: 4px;
        color: $white;
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 10px;
        overflow: hidden;
        overflow-x: auto;
        padding: 24px;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }
  
  .py-6 {
    padding-top: 30px !important;
  }

  .block {
    margin-bottom: 45px !important;
  }
}
