.page {
  &-product {
    h2 {
      margin: 0;
    }

    .description {
      .row {
        .col-md-6 {
          &:first-of-type {
            align-items: flex-start;
          }
        }
      }
      .products__description {
        margin-top: 28px;

        h6,
        p {
          font-size: 16px;
          line-height: 24px;
          }
        }
      }

    .image__field-media-image {
      padding-left: 100px;
    }
  }

  .cta {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;

    &__text {
      h2 {
        font-size: 22px;
        font-weight: $bold;
        line-height: 26px;
        margin-bottom: 16px;
      }
    }

    &__button {
      font-family: $Lato;
      font-size: 16px;
      font-weight: bold;
      height: 48px;
      width: 165px;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
