.page-product {
  .description {
    color: $gray_dark;
    margin-top: 30px;
    margin-bottom: 50px;

    .image__field-media-image {
      padding-left: 100px;
    }
  }

  .apis {
    background-color: $gray_lightness;

    .view-header {
      display: none;
    }

    .view-content {
      text-align: center;
      padding: 40px;
      line-height: 20px;

      .icon {
        font-size: 22px;
        color: $res_put;
        padding-right: 10px;
        display: inline-flex;
      }

      .views-field-name {
        display: inline-flex;
      }

      .api-title {
        text-align: left;
      }

      a {
        color: $gray_dark;
        font-family: $Lato;
        font-weight: $bold;
        font-size: 22px;
      }
    }
  }

  .cta {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;

    &__text {
      h2 {
        font-size: 22px;
      }
    }

    &__button {
      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
