@import "./../vendors/fontawesome/fontawesome.scss";
@import "./../vendors/fontawesome/solid.scss";

article[about="\/products"] {
  .block {
    margin-bottom: 0;

    &--basic {
      &:first-of-type {
        margin-top: 73px;
        margin-bottom: 32px;

        @include media-breakpoint-up(sm) {
          padding-left: 61px;
        }
      }

      h2 {
        color: $gray_dark;
        font-family: $Lato;
        font-size: 32px;
        font-weight: $bold;
        line-height: 39px;
        margin: 0 0 8px 0;
      }

      p {
        color: $gray;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
      }

      .basic__body {

        @include media-breakpoint-up(md) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  .paragraph {
    &:first-of-type {
      &.py-6 {
        padding-top: 64px !important;
        padding-bottom: 47px !important;
        text-align: center;
      }

      .field {
        margin: auto;
        max-width: 752px;

        p {
          color: $gray;
          font-size: 22px;
          line-height: 32px;
          margin: 0;
        }
      }
    }

    &.cta {
      background-color: $gray_lightness;
      margin: 122px 0 0 0;

      &.py-6 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
      }

      .cta__title {
        &.mb-4 {
          margin-bottom: 16px !important;
        }

        color: $gray_dark;
        font-size: 22px;
        font-weight: $bold;
        line-height: 26px;
      }
    }
  }

  .view-products-view {
    padding-top: 20px;

    .view-content {
      .views-view-grid {
        .row {
          .col-md-4 {
            display: flex;

            > .views-field {
              display: flex;
              flex-grow: 1;
              position: relative;

              .field-content {
                display: flex;
                flex-grow: 1;

                .card {
                  flex-grow: 1;
                  margin-bottom: 50px;
                  padding: 44px 12px;
                  text-align: center;
                  width: 100%;

                  @include media-breakpoint-up(md) {
                    padding: 24px 12px;
                    margin-bottom: 0;
                  }

                  @include media-breakpoint-up(xl) {
                    padding: 44px;
                  }

                  &:hover {
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
                  }

                  &--coming-soon {
                    * {
                      opacity: 0.65;
                    }
                  }

                  &__title {
                    &__icon {
                      height: 100px;
                      margin-bottom: 26px;

                      img {
                        height: 100px;
                        width: auto;
                      }
                    }

                    &__text {
                      h2 {
                        font-size: 20px;
                        line-height: 23px;
                        text-transform: uppercase;

                        @include media-breakpoint-down(xl) {
                          min-height: 50px;
                        }
                      }
                    }
                  }

                  .views-field {
                    min-height: initial;

                    &-description__value {
                      @include media-breakpoint-up(sm) {
                        min-height: 120px;
                      }

                      @include media-breakpoint-up(lg) {
                        min-height: 100px;
                      }
                    }
                  }

                  &__footer {
                    margin-top: auto;

                    .learn-more,
                    a {
                      border: 1px solid $blue;
                      color: $blue;
                      display: inline-block;
                      font-weight: $bold;
                      line-height: 18px;
                      padding: 16px 36px;
                      text-transform: uppercase;
                      transition: $transition-base;
                      margin: 0px;

                      &:hover {
                        border: 1px solid $blue_jeans_dark;
                        color: $blue_jeans_dark;
                        text-decoration: none;
                      }

                      &:focus {
                        box-sizing: border-box;
                        border: 1px solid $blue;
                        box-shadow: $focus_shadow;
                        color: $blue_jeans_dark;
                      }

                      &:active {
                        box-sizing: border-box;
                        border: 1px solid $blue_jeans_dark;
                        box-shadow: $focus_shadow;
                        color: $blue_jeans_dark;
                      }
                    }
                  }
                }

                .badge {
                  background-color: #00aae7;
                  border-top-left-radius: 6px;
                  border-top-right-radius: 6px;
                  position: absolute;
                  right: 0;
                  top: -30px;
                  z-index: 1;
                  font-size: 14px;
                  font-weight: $bold;
                  letter-spacing: 0.5px;
                  line-height: 16px;
                  text-align: center;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}
