.path-support,
.path-faq {
  .page {
    padding-top: 0 !important;
  }

  .details {
    border-top: none;
    border-bottom: $blue_jeans 1px solid;
    padding-bottom: 6px !important;
    padding-top: 25px !important;
  }

  .details__summary {
    .details__title {
      display: inline-block;

      span {
        color: $blue_jeans;
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
      }
    }

    .details__icon {
      color: $blue_jeans;
      margin-left: 7px;
      position: initial;
    }
  }

  .details__content {
    padding-top: 5px !important;
    padding-bottom: 20px;
  }
}
