article[about=\/terms-use]{

    .row {
        justify-content: center !important;
    }
    h1 {
        font-size: 28px;
        font-family: "Arial",sans-serif;
    }

    p {
        font-family: "Arial",sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
}