.path-legal {
  h1,
  ol,
  p {
    max-width: 900px;
  }

  .row {
    h1 {
      font-size: 32px;
    }
  }

  #sublist {
    list-style-type: lower-alpha;
  }

  @include media-breakpoint-up(xl) {
    .page__content {
      padding-left: 100px;
    }
  }
}
