$get-bg: #6bbc5b;
$post-bg: #1a6887;
$put-bg: #9b708c;
$delete-bg: #a83e24;

.page-use-case {
  height: 100%;

  > .page {
    background-color: $gray_lightness;
    display: block;
    height: auto;
    min-height: 100%;
    padding-bottom: 130px;

    .page {
      &__header {
        .page {
          &__headline {
            margin-top: 16px;
          }
        }
      }
    }
  }

  .use-case {
    &--full {
      &__header {
        &__title {
          @include media-breakpoint-up(lg) {
            padding: 0;
          }
        }

        &__products {
          display: flex;
          margin-bottom: 8px;

          @include media-breakpoint-up(lg) {
            margin-right: -15px;
            margin-left: -15px;
          }

          .col-lg-10 {
            display: flex;

            @include media-breakpoint-up(lg) {
              padding: 0;
            }

            span {
              color: $gray_soft;
              font-size: 14px;
            }
          }
        }
      }

      img {
        max-width: 440px;
        max-height: 265px;
        object-fit: fill;
      }

      .use-case__field-products {
        padding: 0px 15px;

        .field__item {
          max-width: 200px;
          display: inline;

          color: $gray;
          font-family: Arial;
          font-size: 14px;
          border: 1px solid $gray-light;
          padding: 2px 8px;
          border-radius: 3px;

          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .title-bar {
        background-color: $gray_lightness !important;
        padding: 0px !important;

        &__icon {
          display: none !important;
        }

        &__title {
          color: $gray-dark;
          font-family: $Arial;
          font-size: 32px;
          font-weight: $bold;
          line-height: 37px;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
      }

      .use-case-content {
        .text-image {
          &__wrapper {
            align-items: flex-start;
            display: flex;
            flex-direction: column-reverse;
            max-height: inherit !important;

            @include media-breakpoint-up(md) {
              padding-left: 15px;
              padding-right: 15px;
            }

            @include media-breakpoint-up(lg) {
              flex-direction: row;
            }
          }

          &__text {
            padding: 0 !important;

            @include media-breakpoint-up(lg) {
              margin-left: 5.5%;
              padding-right: 30px !important;
            }

            @include media-breakpoint-up(xl) {
              margin-left: 6%;
            }
          }

          &__field-image {
            height: 290px;
            border-radius: 4px;
            border: 1px solid $gray_lightness;
            background-color: $white;
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.05);
            margin: 0 0 15px 0;
            padding: 10px 10px;
            text-align: center;

            img {
              max-width: 100%;
            }
          }

          &__image {
            @include media-breakpoint-up(lg) {
              flex: 0 0 460px;
            }
          }
        }
      }

      .block {
        margin-bottom: 0px;
      }

      .api-card {
        min-height: 220px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .text-image {
        height: inherit !important;
        min-height: 320px;
      }

      h2 {
        color: $gray-dark;
        font-family: $Lato;
        font-size: 32px;
        font-weight: $bold;
        line-height: 39px;
        margin: 15px 0 0 0;
        text-align: center;
      }

      .api-method {
        border-radius: 3px;
        border: none;
        color: $white;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 3px 20px;
      }

      .method-get {
        background-color: $get-bg;
      }

      .method-post {
        background-color: $post-bg;
      }

      .method-put {
        background-color: $put-bg;
      }

      .method-delete {
        background-color: $delete-bg;
      }

      .api-title {
        font-weight: $bold;
        padding: 10px 0px;
      }

      .api-used__field-api-description {
        color: $gray-dark;
        font-family: $Lato;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}
