.page-register,
.page-password,
.page-login {
  .page {
    &__header,
    &__tasks {
      display: none;
    }
  }
}

.page-password {
  .form-required {
    font-weight: $bold;

    .fa-asterisk {
      color: $black !important;
    }
  }
}