$get-bg: #6bbc5b;
$post-bg: #1a6887;
$put-bg: #9b708c;
$delete-bg: #a83e24;

.page-use-case {
  background-color: $gray_lightness;

  .use-case--full {
    img {
      max-width: 440px;
      max-height: 265px;
      object-fit: fill;
    }

    .use-case__field-products {
      padding: 0px 15px;

      .field__item {
        max-width: 200px;
        display: inline;

        a {
          color: $gray;
          font-family: Arial;
          font-size: 14px;
          border: 1px solid $gray-light;
          padding: 2px 8px;
          border-radius: 3px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .card {
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.02);
      max-height: 386px;
      min-height: 386px;
      margin: 30px 0 10px 0;
      overflow: hidden;
      padding: 34px 32px;
      border: none;
      position: relative;

      img {
        max-width: 440px;
        max-height: 265px;
        object-fit: fill;
      }

      p {
        color: $gray-dark;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        line-height: 24px;
      }

      .text-image__wrapper {
        .text-image__text {
          height: 250px;
          min-height: 250px;
          overflow: hidden;
          margin-left: -10px;

          &:after {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 64.02%, $white 100%);
            bottom: 0;
            content: "";
            display: block;
            height: 180px;
            left: 0;
            position: absolute;
            width: 100%;
          }
        }

        .text-image__image {
          padding-left: 130px;
        }
      }

      .views-field-title {
        .field-content {
          color: $gray-dark;
          font-family: $Lato;
          font-size: 24px;
          font-weight: 900;
          line-height: 29px;
          margin: 0 0 24px 0;
          text-transform: uppercase;
        }
      }

      .views-field-nothing {
        bottom: 0;
        left: 0;
        padding: 20px 20px;
        position: absolute;
        z-index: 1;

        a {
          background-color: transparent;
          border: none;
          color: $blue;
          font-size: 16px;
          padding: 10px;
          text-transform: uppercase;
          font-family: $Lato;
          font-weight: bold;
        }
      }
    }

    .title-bar {
      background-color: $gray_lightness !important;
      padding: 0px !important;

      &__icon {
        display: none !important;
      }

      &__title {
        color: $gray-dark;
        font-family: $Lato;
        font-size: 24px;
        font-weight: $bold;
        line-height: 29px;
        margin: 0 0 10px 0;
        text-transform: uppercase;
      }
    }

    .text-image__wrapper {
      align-items: initial;

      .text-image__text {
        padding-top: 10px !important;
      }
    }

    .block {
      margin-bottom: 0px;
    }

    .api-card {
      min-height: 220px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .text-image {
      height: 320px;
    }

    h2 {
      height: 39px;
      color: $gray-dark;
      font-family: $Lato;
      font-size: 32px;
      font-weight: bold;
      line-height: 39px;
      padding: 30px 30px;
    }

    .more-use-cases {
      h2 {
        text-align: center;
      }
    }

    .api-method {
      border-radius: 3px;
      border: none;
      color: $white;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      padding: 3px 20px;
    }

    .method-get {
      background-color: $get-bg;
    }

    .method-post {
      background-color: $post-bg;
    }

    .method-put {
      background-color: $put-bg;
    }

    .method-delete {
      background-color: $delete-bg;
    }

    .api-title {
      font-weight: $bold;
      padding: 10px 0px;
    }

    .api-used__field-api-description {
      color: $gray-dark;
      font-family: $Lato;
      font-size: 16px;
      line-height: 25px;
    }
  }
}
