.use-cases-node {
  background-color: $gray_lightness;
  padding-top: 38px;

  .use-cases {
    &__case {
      &:first-of-type {
        margin-top: 0;
      }

      box-shadow: none;
    }
  }

  .view-use-cases {
    .view-content {
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;

      .card {
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.02);
        max-height: 386px;
        min-height: 386px;
        margin: 30px 0 10px 0;
        overflow: hidden;
        padding: 34px 32px;
        border: none;
        position: relative;

        img {
          max-width: 440px;
          max-height: 265px;
          object-fit: fill;
        }

        &__text {
          color: $gray_dark;
          font-size: 24px;
          font-weight: $bold;
          line-height: 32px;
          text-transform: uppercase;
        }
      }
    }

    h2 {
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      margin: 0 0 16px 0;
    }

    .pager {
      list-style: none;
      padding: 30px 0 0 0;

      &__item {
        text-align: center;

        .button {
          background-color: transparent;
          border: $blue 1px solid;
          border-radius: 0;
          box-shadow: none;
          color: $blue;
          display: inline-block;
          font-size: 14px;
          font-weight: $bold;
          line-height: 16px;
          padding: 16px 0;
          text-align: center;
          text-transform: uppercase;
          width: 165px;
        }
      }
    }
  }

  .block--cta {
    margin-bottom: 0px;
  }

  .cta {
    background-color: #b5c534;
    color: white;
    text-align: center;

    .btn {
      background-color: transparent;
      border: #fff 1px solid;
      color: #fff;
      text-transform: uppercase;
    }

    &__title {
      font-size: 22px;
      font-weight: bold;
      line-height: 24px;
      margin: 0 0 16px 0;
    }

    .cta__field-text {
      h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
      }
    }

    .buttons--cta {
      font-family: 'Lato';
      font-size: 16px;
    }

    &__buttons {
      justify-content: center !important;
    }
  }
}
