.path-user {
  background-color: $gray_lightness;

  .page {
    .navbar {
      background-color: $blue_theme;
      background-image: url('../images/background_getting_started.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .container {
        position: relative;
        z-index: 1;
      }

      &:after {
        background-color: $blue_theme;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        @include media-breakpoint-up(lg) {
          opacity: .8;
        }
      }
    }

    &__header {
      display: none;
    }
  }
}
