.path-user-login,
.path-user-register,
.path-user-password {
  .page {
    &__header,
    &__tasks {
      display: none;
    }
  }

  .page-login {
    flex-grow: 1;

    .form-required {
      font-weight: $bold;

      .fa-asterisk {
        color: $black !important;
      }
    }

    .form-submit {
      font-weight: $bold !important;
    }
  }
}
