.block.getting_started__cta {
  margin-bottom: 0;

  .cta {
    background-color: #1a6887;
    color: white;
    text-align: center;

    .btn {
      background-color: transparent;
      border: #fff 1px solid;
      color: #fff;
      text-transform: uppercase;
      font-family: Arial;
    }

    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      margin: 0 0 16px 0;
      color: #fff;
    }

    &__text {
      flex-basis: auto;
    }
  }
}
