.card {
  border: 1px solid $gray_lightness;
  background-color: $white;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: column;
  padding: 25px;

  &__title {
    &__text {
      h2 {
        color: $gray_dark;
        font-size: 20px;
        font-weight: $bold;
        line-height: 23px;
      }
    }
  }

  p {
      color: $gray_medium;
      line-height: 20px;
  }
}
