.page__footer {
  .footer {
    background-color: $gray_dark;
    font-family: lato;
    font-size: 14px;
    padding-bottom: 0rem !important;
    padding-top: 1.5rem !important;

    .logo {
      margin-right: auto;

      #footer_logo {
        height: 36px;
        margin-top: 5px;
      }
    }

    .block--useraccountmenu {
      .nav {
        .nav-item {
          &:first-of-type {
            display: none;
          }

          padding-right: 18px;
        }
      }
    }
  }

  .copyright {
    background: $gray_dark;
    color: $gray_light;
    padding-top: 0rem !important;
    padding-bottom: 1.5rem !important;
    line-height: 9px;
    font-size: 12px;

    .justify-content-md-end {
      display: unset !important;
    }
  }
}
