/* Page Header */
.page__header {
  background-color: $blue_theme;
  background-image: url('../images/background_getting_started.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 338px;
  position: relative;

  &:after {
    background-color: $blue_theme;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;

    .col-md-10 {
      @include media-breakpoint-up(sm) {
        padding: 0 !important;
      }

      .page {
        &__title,
        &__headline {
          color: $white;
          text-align: center;

          @include media-breakpoint-up(sm) {
            text-align: left;
          }
        }

        &__title  {
          font-size: 48px;
          font-weight: $bold;
          line-height: 56px;
          margin: 144px 0 16px 0;
        }

        &__headline {
          font-size: 24px;
          font-weight: initial;
          line-height: 32px;
          margin: 0;
        }
      }
    }
  }
}
