/* Page Footer */


.footer {
    background-color: #333333; 
    font-size: 14px;
    padding-bottom: 0rem !important;
    padding-top: 1.5rem !important;

    .nav-item {
        font-size: 16px;
        padding-right: 18px;
    }
    #footer_logo {
        height: 36px;
        margin-top: 5px;
    }
  }

.justify-content-md-end {
    display: unset !important;
}

.copyright {
    background: #333333;
    color: #cccccc;
    padding-top: 0rem !important;
    padding-bottom: 1.5rem !important;
    line-height: 9px;
    font-size: 12px;
    font-family: "Roboto",sans-serif;
  }