form {
  &.user-form,
  &.contact-form,
  &.user-login-form,
  &.user-pass,
  &.hs-form {
    margin: 64px auto;
    max-width: initial !important;


    h2,
    .reset-password-text {
      text-align: center;
    }

    label {
      color: $gray_dark;
      font-weight: $bold;
      line-height: 24px;
    }

    .form {
      &-item {
        margin-bottom: 16px;

        &-register {
          &-text {
            margin-bottom: 32px;
            text-align: center;

            h2 {
              color: $gray_dark;
              font-size: 34px;
              font-weight: $bold;
              line-height: 40px;
              margin-bottom: 24px;
            }

            p {
              margin: auto;
              max-width: 360px;
              text-align: left;
            }
          }
        }
      }

      &-wrapper,
      &-check,
      &-group {
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
      }

      &-control {
        border: 1px solid $gray_light;
        border-radius: 3px;
        background-color: $white;
        box-shadow: inset 0 1px 1px 1px rgba($black, .08);
        outline: transparent auto 1px;
        transition: $transition-base;

        &:focus {
          outline: $blue auto 1px;
        }
      }

      &-check {
        margin-top: 24px;

        &-label {
          color: $gray_dark;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;

          strong {
            font-weight: normal;
          }
        }

        svg {
          color: $gray_light;
        }
      }

      &-actions {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        margin-top: 56px;

        .btn,
        #edit-cancel {
          font-weight: $bold !important;
          line-height: 16px !important;
          transition: $transition-base;
          width: 165px;
        }

        /* override to match buttons components */
        .btn {
          border-radius: 0 !important;
          font-family: $Arial;
          letter-spacing: 0 !important;
          padding: 16px 26px !important;
        }

        #edit-cancel {
          border: $blue 1px solid;
          color: $blue;
          display: inline-block;
          font-size: 14px;
          padding: 15px 10px;
          text-align: center;
          text-transform: uppercase;

          &:hover {
            border-color: $blue_jeans_dark;
            color: $blue_jeans_dark;
            text-decoration: none;
          }

          &:focus {
            box-shadow: $focus_shadow;
          }

          &:active {
            box-shadow: $focus_shadow !important;
            border-color: $blue_jeans_dark;
            color: $blue_jeans_dark;
          }
        }
      }

      &-required {
        &__indicator {
          color: $gray_dark !important;
        }
      }
    }
  }

  &.user-login-form,
  &.user-pass {
    .form-actions {
      flex-flow: initial;
      justify-content: center;
      margin: 0 auto;
    }

    #edit-forgot-text {
      label {
        display: none;
      }
    }
  }
}
