.use-cases {
  &__case {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-flow: column;
    // height: 384px;
    margin: 30px 0 10px 0;
    overflow: hidden;
    padding: 34px 32px;
    position: relative;

    @media (min-width: 992px) {
      max-height: 386px;
      min-height: 386px;
    }

    .views-field {
      &-title {
        .field-content {
          color: $gray_dark;
          display: inline-block;
          font-family: $Lato;
          font-size: 24px !important;
          font-weight: $extraBold !important;
          line-height: 29px !important;
          margin: 0 0 12px 0;
          text-transform: uppercase;
        }
      }


      &-field-products {
        margin-bottom: 12px;

        .field-content {
          max-width: 200px;
          display: inline;
          color: $white;

          a {
            border-radius: 3px;
            color: $gray;
            display: inline-block;
            font-family: $Arial;
            font-size: 14px;
            border: 1px solid $gray-light;
            line-height: 16px;
            padding: 2px 8px;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      &-field-content {
        display: flex;
        flex: 1;

        .field-content {
          display: flex;

          .text-image {
            display: flex;

            &__wrapper {
              display: flex;
              flex-direction: column-reverse;
              grid-template-columns: initial;

              @include  media-breakpoint-up(lg) {
                flex-direction: row;
                max-height: 220px;
              }
            }

            &__text,
            &__image {
              flex: 1;
              display: flex;
              padding: 0 !important;
              position: relative;

              @include media-breakpoint-up(lg) {
                height: 100%;
              }
            }

            &__image {
              align-self: unset;
              grid-column: none;
              justify-content: center;
              padding: 10px 0;

              img {
                height: 100% !important;
                width: auto;
              }
            }

            .container-fluid {
              display: flex;
            }
          }
        }
      }

      &-nothing {
        a {
          color: $blue;
          font-family: $Lato;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
        }
      }
    }
  }
}
