{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes.addClass('py-7') }}>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2>Reset password</h2>
        <p class="reset-password-text">
          Please type in your email if you have forgotten your password. We will send you a link to reset your password. 
        </p>
        {{ children }}
      </div>
    </div>
  </div>
</form>
