{% for item in rows %}
    {% if loop.index0 % 3 == 0 %}
        <div class="row">
    {% endif %}
        <div class="col">
            <div class="api-title">
                <span class="icon"><i class="fa fa-check"></i></span>{{ item.content }}
            </div>
        </div>
    {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
    {% endif %}
{% endfor %}