{#
/**
 * @file
 * Template for the Apidoc spec field.
 */
#}
{{ attach_library('core/jquery.once') }}
<div class="apidoc__spec__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include 'field.html.twig' %}
      </div>
    </div>
  </div>
</div>
