$blue_light: #29B4EA;
$blue_jeans: #1A6887;
$blue_theme: #1A2856;
$gray: #707070;
$gray_soft: #96999A;
$gray_light: #CCC;
$gray_lightness: #f9f9f9;
$gray_lightness_dark: #F1F1F1;
$gray_dark: #333;
$graphite: #343434;
$green: #B5C534;
$res_delete: #F0433F;
$res_delete_bg: #FFEBEB;
$res_get: #367DBB;
$res_get_bg: #EBFAFF;
$res_post: #3F743E;
$res_post_bg: #DFF1DF;
$res_put: #6BBC5B;
$res_put_bg: #F1FFEF;
$white: #FFF;
