$blue_light: #29B4EA;
$blue_jeans: #1A6887;
$blue_theme: #1A2856;
$gray: #707070;
$gray_soft: #96999A;
$gray_light: #CCC;
$gray_lightness: #f9f9f9;
$gray_lightness_dark: #F1F1F1;
$gray_dark: #333;
$graphite: #343434;
$green: #B5C534;
$res_delete: #F0433F;
$res_delete_dark: #B41F1D;
$res_get: #6BBC5B;
$res_get_dark: #5E9C5E;
$res_post: #1A6887;
$res_post_dark: #044A64;
$res_put: #9B708C;
$res_put_dark: #7A4B6A;
$white: #FFF;
