body {
  color: $gray_dark;
  font-family: $Arial;
  font-size: 16px;
  line-height: 24px;

  .dialog-off-canvas-main-canvas {
    height: auto;
  }

  *:focus {
    outline: $white auto 1px;
    box-shadow: 0 0 5px 0 $gray_lightness;

    @include media-breakpoint-up(md) {
      box-shadow: none;
    }
  }

  .page {
    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h2 {
        color: $gray_dark;
        font-size: 32px;
        font-weight: $bold;
        line-height: 40px;
      }
    }
  }

  .main {
    .page-layout-sidebar-bottom {
      display: flex;
      flex: 1;

      &__top {
        display: flex;
        flex: 1;
      }
    }
  }
}
