// base variables
$transition-base:   all .3s ease-out !default;
$focus_shadow:      inset 0 0 5px 0 rgba($black, .2), 0 0 4px 1px rgba($blue_soft, .6) !default;

// base theme
body {
  color: $gray_dark;
  font-family: $Arial;
  font-size: 16px;
  line-height: 24px;

  a {
    color: $blue;

    &:hover {
      color: $blue_jeans_dark;
      text-decoration: underline;
    }
  }

  .dialog-off-canvas-main-canvas {
    display: block;
    height: 100%;

    > .page {
      display: block;
      height: auto;
      min-height: 100%;
      padding-bottom: 130px;
    }
  }

  &:focus {
    outline: none;

    @include media-breakpoint-up(lg) {
      outline: $blue auto 1px;
    }
  }

  .page {
    &__content {
      flex-direction: column;
      flex-grow: 1;

      h2 {
        color: $gray_dark;
        font-size: 32px;
        font-weight: $bold;
        line-height: 40px;
      }
    }
  }

  .main {
    .page-layout-sidebar-bottom {
      flex-grow: 1;

      &__top {
        flex-grow: 1;
      }
    }
  }
}
