@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
// @import './colors';

// font stack
$Arial: 'Arial', sans-serif;
$Lato: 'Lato', 'Arial', sans-serif;
$Roboto: 'Roboto', sans-serif;

// font weights
$normal: 400;
$bold: 700;
$extraBold: 900;
