{#
/**
 * @file
 * Template for a block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: 'div',
} %}
  {% block content %}
    <div class="row">
      <div class="col-lg-6 offset-lg-1 use-case--full__header__title">
        {{ content }}
      </div>
    </div>
  {% endblock %}
{% endembed %}
