{#
/**
 * @file
 * Template for the page title block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: 'div',
  utility_classes: []
} %}
  {% block content %}
    <div class="container">
      <div class="row">
      <div class="col-md-12">
        {{ content }}
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
