<div class="collections-description">
    {{ content }}
    <div class="collections-description__buttons">
        <a class="btn btn-outline" href="/">VIEW API</a>
        <a class="btn btn-primary" href="/getting-started">START PROJECT</a>
    </div>
</div>