// Base theme
@import 'base/colors';
@import 'base/typography';
@import 'base/theme';


// Components
@import 'components/navbar';
@import 'components/footer';
@import 'components/page-header';


// Pages
@import 'pages/frontpage';
@import 'pages/getting_started';
@import 'pages/support';
@import 'pages/errors';
@import 'pages/collections';
@import "pages/terms_of_use";


/************* Media Queries *************************/
/* Desktop Only */
@media (min-width: 992px) {
  .card-group-2 .container {
    max-width: 50%;
  }
}
/* End of Desktop Only */
/* Mobile Only */
@media (max-width: 992px) {
  .hero-text {
    display: none;
  }
  .path-frontpage .paragraph.card-group--default.py-7 {
    padding-bottom: 0rem !important; /* to override py-7 !important */
  }
  .path-frontpage .card-group-2 .card-group__buttons {
    padding-bottom: 2rem;
  }
}
/* End of Mobile Only */
