// color pallet
$black: #000;
$black-light: #333;
$blue: #4A8BB3;
$blue-shine: #238FB2;
$blue-light: #C4E1F1;
$blue-marine: #004467;
$blue-marine-dark: #0B344A;
$blue-marine-darkness: #1C2257;
$brown-light: #AA6633;
$grey-dark: #777;
$grey: #999;
$grey-light: #CACACA;
$grey-super-light: #f8f8f8;
$green: #11AF23;
$green-light: #A0FBAA;
$red: #E53934;
$red-dark: #b22222;
$white: #FFF;


// theme colors
$brand-color: $blue-marine-darkness;
$text-color: $black-light;
$footer-background: $blue-marine-dark;
$menu-hover-color: $blue-light;
$title-color: $grey;
$panel-border: $grey-light;

// text colors
$link-color: $blue-shine;
$h2title-color: $blue-marine-darkness;
$default-color: $black-light;

// default color schema
$default-schema: (
  boolean: $red-dark,
  default: $white,
  function: $brown-light,
  number: $blue,
  property: $green-light
);

.black {
  color: $black !important;
}